fastapi
pydantic
uvicorn 
joblib
pandas
numpy
scikit-learn
seaborn
matplotlib
xgboost
wordcloud
flask
modal

# pip install -r requirements.txt
# python -m uvicorn app:app --reload
# python -m uvicorn ollamaa:app --host 0.0.0.0 --port 7777
